<div class="wrapper">
	<h2>people!</h2>
	<%= form_tag users_path do %>
	<p>
	<%= text_field_tag :search %>
	<%= submit_tag "Search", class: 'btn btn-info' %>
	</p>
	<% end %>

	<br>
<div class="clearfix">
		<div class="row">
			<%= @users.each do |user| %>
				<div class="col-md-4">
					<div class="well">
						<h2> <%= link_to user.username, user %></h2>
					</div>
				</div>
         	<% end %>
	</div>
</div>