<!DOCTYPE html>
<html>
<head>
  <title>ALTSPACE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Megrim|Poiret+One' rel='stylesheet' type='text/css'>  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>


<div class="flex">
<p class="notice"><%= notice %></p>
<%= yield %>
</div>

<footer class="footer">
      <div class="container">
        <p>© altspace 2016</p>
      </div>
    </footer>

</body>
</html>
